@using STIMULUS_V2.Client.Services;
@using STIMULUS_V2.Shared.Models.Entities;
@using STIMULUS_V2.Shared.Interface.ChildInterface;
@* @using STIMULUS_V2.Client.Shared.TheorieComponents; *@
@using static STIMULUS_V2.Client.Shared.NoeudComponents.Connector;

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject INoeudService NoeudService;
@inject IPageService PageService;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRunTime

@for (int i = 0; i < Nodes.Count; i++)
{
    @if (Node.NoeudId == Nodes[i].NoeudParentId && Nodes[i].NoeudParentId != null)
    {
        <Connector GetModeDeVue="GetModeVue" X1=Node.PosX Y1=Node.PosY X2=Nodes[i].PosX Y2=Nodes[i].PosY />
    }
}

<NonDraggable @bind-X=Node.PosX @bind-Y=Node.PosY>
    <NavLink @onclick="DirectionPage" id="lien">
        <circle visibility="@displayHover" r="@(Node.Rayon + 3)" class="cercle" style="fill: rgba(255,255,255,5); opacity:0.5" />
        <circle @onmouseover=@(e => OnMouseHover()) @onmouseout=@(e => OnMouseLeave()) r="@Node.Rayon" class="cercle" style="fill:@Couleur"/>
        <rect x="@(Node.Rayon*2- Node.Rayon/2 -10)" y="@(-180 + Node.Rayon/2)" visibility="@displayHover" width="200" height="150" style="fill: rgba(255,255,255,255)" />
        <foreignObject x="@(Node.Rayon*2- Node.Rayon/2 -10)" y="@(-180 + Node.Rayon/2)" visibility="@displayHover" width="200" height="150" style="padding:5px">
            <span> Nom :  @Node.Nom / ID : @Node.NoeudId</span><br />
            <span> Parent : @TestParent()</span><br /> @*Pour ne pas avoir de champ vide*@
            <span> Desc : @Node.Description</span>       
        </foreignObject>
        <text @onmouseover=@(e => OnMouseHover()) @onmouseout=@(e => OnMouseLeave()) text-anchor="middle" alignment-baseline="central">@Node.Nom</text>
    </NavLink>                                                
</NonDraggable>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public Noeud Node { get; set; }
    [Parameter] public List<Noeud> Nodes { get; set; }
    [Parameter] public Action<Noeud> AjoutNouveauNoeud { get; set; }
    [Parameter] public Action<int> SupprNoeud { get; set; }
    [Parameter] public Action<Noeud> SaveChangeNoeud { get; set; }

    private string link;
    private string displayHover = "hidden";
    private string modelNoeud = "Noeud_Contenue";
    private Noeud nouveauNoeud = new();  
    private string Couleur { get; set; }
    private string displayNouveauNoeud = "hidden";
    private int formSizeH = 0;
    private int formSizeW = 0;
    private bool isOpen = false;
    private readonly string COULEUR_BLOQUER = "rgb(140,140,140)";
    private readonly string COULEUR_NON_CONSULTER = "rgb(228, 231, 245)";
    private readonly string COULEUR_CONSULTER = "rgb(199,160,53)";
    private readonly string COULEUR_COMPLETER = "rgb(28, 90, 47)";

    private int GetModeVue() => -1;
    protected override async Task OnInitializedAsync()
    {
        Couleur = COULEUR_BLOQUER;

        if (Node.Status == 1)
        {
            Couleur = COULEUR_BLOQUER;
        }
        else if (Node.Status == 2)
        {
            Couleur = COULEUR_NON_CONSULTER;
        }
        else if (Node.Status == 3)
        {
            Couleur = COULEUR_CONSULTER;
        }
        else if (Node.Status == 4)
        {
            Couleur = COULEUR_COMPLETER;
        }
    }

    private string TestParent() => (Node.NoeudParentId != null) ? Node.NoeudParentId.ToString() : "Aucun";
    private void OnMouseHover() => displayHover = "visible";

    private void OnMouseLeave()
    {
        displayHover = "hidden";
    }

    private async void DirectionPage()
    {
        await sessionStorage.SetItemAsync<int>("idNoeud", Node.NoeudId);

        // Récupérer toutes les pages associées au nœud actuel
        var pageNoeud = await PageService.GetAllFromNoeud(Node.NoeudId);
        var affichPage = pageNoeud.Data;

        if (affichPage != null && affichPage.Any())
        {
            // Trouver la page avec l'ordre minimum (la première page)
            var firstPage = affichPage.OrderBy(p => p.Ordre).First();

            // Stocker l'ID de la première page dans la session
            await sessionStorage.SetItemAsync<int>("idPage", firstPage.PageId);
        }
        NavigationManager.NavigateTo("/Pages");
    }
}
