@page "/About"

<div class="custom-adduser-title">
    <RadzenLabel class="custom-adduser-title">À propos de Stimulus</RadzenLabel>
</div>

<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenLabel class="custom-gestion-subtitle">Stimulus est un projet développé par les élèves de troisième année en Technique de l'informatique du Cégep de Jonquière.</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenLabel class="custom-gestion-subtitle" Style="text-decoration: underline"><strong>Professeurs</strong></RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Éric Dallaire</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Kim Lavoie</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenLabel class="custom-gestion-subtitle" Style="text-decoration: underline"><strong>Automne 2022</strong></RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Étienne Guimond</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Antoine Bouchard</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">William Tremblay</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Dominique Prévost</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Liam Jourdain</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenLabel class="custom-gestion-subtitle" Style="text-decoration: underline"><strong>Automne 2023</strong></RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Yohan Tremblay</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Corentin Urlacher</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Marc-Antoine Bouchard</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Alex Tremblay</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Louis Séranne</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Thomas Marquis</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Charles Duschêne</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Nathanael Quedoc</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Olivier Daraîche</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Guillaume Blais</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Koffi Emmanuel Hounakey</RadzenLabel>
    <RadzenIcon Icon="label_important" IconColor="@Colors.Info" />
    <RadzenLabel class="custom-gestion-subtitle">Oscar Simon</RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenLabel class="custom-gestion-subtitle" Style="text-decoration: underline"><strong>Automne 2024</strong></RadzenLabel>
</RadzenStack>
<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Gap="1rem" Class="rz-p-4">
    <RadzenLabel class="custom-gestion-subtitle"><a href="https://www.youtube.com/watch?v=nDUQ-MvnO6s&ab_channel=LoopHitMusic">À votre tour maintenant ...</a>.</RadzenLabel>
</RadzenStack>


@code {

}
