@using Microsoft.CodeAnalysis;
@using System.Text;
@using STIMULUS_V2.Client.Services;
@using STIMULUS_V2.Client.Shared.NoeudComponents
@using STIMULUS_V2.Shared.Models.DTOs;
@using STIMULUS_V2.Shared.Models.Entities;
@using STIMULUS_V2.Shared.Interface.ChildInterface;
@using static STIMULUS_V2.Client.Shared.NoeudComponents.Connector;
@using static STIMULUS_V2.Client.Shared.NoeudComponents.NoeudsEtudiant;

@inject MouseService mouseSrv;
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntim
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUpdateService updateService
@inject INoeudService NoeudService;
@inject IGrapheService GrapheService;
@inject INoeudEtudiantService NoeudEtudiantService;
@inject AppState State;
@inject RerenderService Rerender


<div class="row mt-2">
    <div class="col">
        <foreignObject class="custom-graphe-foreignobject-bg" x="5" y="5" width="150" height="50">
            <RadzenStack class="divGrapheEntete" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                <RadzenButton Style="background-color: #14274E;" class="custom-graphe-zoom-button" Text="+" ButtonStyle="ButtonStyle.Primary" Click=AugmenterZoom />
                <RadzenButton Style="background-color: #14274E;" class="custom-graphe-zoomout-button" Text="-" ButtonStyle="ButtonStyle.Primary" Click=ReduireZoom />
                <RadzenButton Style="background-color: #14274E;" class="custom-graphe-reset-button" Icon="refresh" ButtonStyle="ButtonStyle.Primary" Click=ResetViewbox />
                <RadzenImage class="custom-grapheprof-selectuser-title" Style="height: 50px; width: 35px;align-content:center; margin-left: 1%; margin-right: 1%" Path="/RessourceVisuel/shift.png"></RadzenImage>
                <RadzenText class="custom-grapheprof-selectuser-title">+</RadzenText>
                <RadzenImage class="custom-grapheprof-selectuser-title" Style="height: 30px; width: 30px; align-content:center; margin-left: 1%;margin-right: 1%;" Path="/RessourceVisuel/scroll.png"></RadzenImage>
                <RadzenText class="custom-grapheprof-selectuser-title">pour zoomer !</RadzenText>

            </RadzenStack>
        </foreignObject>
        <svg class="bg-transparent" width="100%" height="2000" xmlns="http://www.w3.org/2000/svg">
            <foreignObject class="bg-transparent" x="0" y="5" width="180" height="350">
                <RadzenPanel class="custom-graphe-legend-panel">
                    <RadzenStack class="custom-graphe-legend-stack" Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                        <RadzenLabel class="custom-graphe-legend-title" style="color:black;text-decoration: underline;">Légende</RadzenLabel>
                        <div class="custom-graphe-legend-color-position">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <RadzenLabel class="custom-graphe-legend-subtitle">Bloqué</RadzenLabel>
                                <RadzenImage class="custom-graphe-legend-color-size" Path="/RessourceVisuel/Legende/140-140-140.png"></RadzenImage>
                            </div>
                        </div>
                        <div class="custom-graphe-legend-color-position">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <RadzenLabel class="custom-graphe-legend-subtitle">Non consulté</RadzenLabel>
                                <RadzenImage class="custom-graphe-legend-color-size" Path="/RessourceVisuel/Legende/non_compléter.png"></RadzenImage>
                            </div>
                        </div>
                        <div class="custom-graphe-legend-color-position">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <RadzenLabel class="custom-graphe-legend-subtitle">Consulté</RadzenLabel>
                                <RadzenImage class="custom-graphe-legend-color-size" Path="/RessourceVisuel/Legende/199-160-53.png"></RadzenImage>
                            </div>
                        </div>
                        <div class="custom-graphe-legend-color-position">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <RadzenLabel class="custom-graphe-legend-subtitle">Complété</RadzenLabel>
                                <RadzenImage class="custom-graphe-legend-color-size" Path="/RessourceVisuel/Legende/complété.png"></RadzenImage>
                            </div>
                        </div>
                        <div class="custom-graphe-legend-color-position">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <RadzenLabel class="custom-graphe-legend-subtitle">Catégorie de noeuds</RadzenLabel>
                                <RadzenImage class="custom-graphe-legend-color-size" Style="margin-right: 7%;" Path="/RessourceVisuel/Legende/structure.png"></RadzenImage>
                            </div>
                        </div>
                        <div class="custom-graphe-legend-color-position">
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <RadzenLabel class="custom-graphe-legend-subtitle">Zoom: @AfficheZoom()</RadzenLabel>
                            </div>
                        </div>
                    </RadzenStack>
                </RadzenPanel>
            </foreignObject>
            <svg class="bg-transparent" width="100%" height="1800" xmlns="http://www.w3.org/2000/svg" viewBox="@viewBoxX @viewBoxY @viewBoxWidth @viewBoxWidth" @onmousewheel="Zoom" @onmousemove=@(e => mouseSrv.FireMove(this, e)) @onmouseup=@(e => mouseSrv.FireUp(this, e))>
                <Draggable GetModeDeVue="GetModeFond" X="@((viewBoxWidth - 1800) / 2)" Y="@((viewBoxWidth - 1500) / 2)">
                    <rect x="-1000" y="-1000" width="4000" height="4000" style="fill:rgb(0,0,0,0);stroke-width:1;stroke:rgb(0,0,0,0)" />
                    @foreach (var noeud in Nodes)
                    {
                        <NoeudsEtudiant Node="@noeud" Nodes="@Nodes"></NoeudsEtudiant>
                    }
                </Draggable>
            </svg>
        </svg>
    </div>
</div>

@code {
    private string displayHover;
    public List<Noeud> Nodes { get; set; } = new();
    private List<Noeud> NodesTemp { get; set; } = new();
    private double viewBoxX = 0;
    private double viewBoxY = 0;
    private double viewBoxWidth = 2000;
    private double viewBoxHeight = 2000;
    private double zoomIncrement = 100;
    private string viewForm = "hidden";
    private string displayNouveauNoeud = "hidden";
    private Noeud nouveauNoeud;
    private Noeud_Etudiant noeudEtudiant;

    protected async override void OnInitialized()
    {
        await UpdateGraphe();
        Rerender.OnNoeudStatus += HandleChangeNoeud;
    }

    /// <summary>
    /// Recupere les noeuds du graph Numero X
    /// </summary>
    private async Task UpdateGraphe()
    {
        Nodes = new();
        int idGraphe = await sessionStorage.GetItemAsync<int>("idGraphe");

        // Wait until 'idGraphe' is not zero (use a timeout or cancellation token for safety).
        while (idGraphe == 0)
        {
            // Add a delay to avoid continuous polling (e.g., 100ms).
            await Task.Delay(100);
        }
        Nodes = ((APIResponse<IEnumerable<Noeud>>)await NoeudService.GetAllFromGraph(idGraphe)).Data.ToList();
        foreach (var noeud in Nodes)
        {
            await CheckStatus(noeud);
        }

        // Consider navigating using a relative URL
        Nodes.Clear();
        StateHasChanged();
        Nodes = ((APIResponse<IEnumerable<Noeud>>)await NoeudService.GetAllFromGraph(idGraphe)).Data.ToList();
        StateHasChanged();
    }
    //Hardcode
    private int GetModeFond() => 2; 

    private void OnMouseHover() => displayHover = "show";
    private void OnMouseLeave() => displayHover = "hidden";

    /// <summary>
    /// Change le status des enfants selon le parent
    /// </summary>
    private async Task CheckStatus(Noeud noeud)
    {
        var graphe = await GrapheService.Get(await sessionStorage.GetItemAsync<int>("idGraphe"));

        try
        {
            // Récupérer tous les nœuds enfants du nœud parent
            var childrenNodesResponse = await NoeudService.GetAllById(noeud.NoeudId);

            var childrenNodes = childrenNodesResponse.Data;

            var parentNoeudEtudiant = await NoeudEtudiantService.GetByNoeudAndDa(noeud.NoeudId, await sessionStorage.GetItemAsync<string>("idConnexion"));

            foreach (var childNode in childrenNodes)
            {
                var childNoeudEtudiant = await NoeudEtudiantService.GetByNoeudAndDa(childNode.NoeudId, await sessionStorage.GetItemAsync<string>("idConnexion"));

                

                if (childNoeudEtudiant.Data != null)
                {
                    if (parentNoeudEtudiant.Data.Status == 4 && childNode.Type == NoeudType.STRUCTURE && childNoeudEtudiant.Data.Status == 2)
                    {

                            childNoeudEtudiant.Data.Status = 4; // Bloqué par le prof

                        await NoeudEtudiantService.Update(childNoeudEtudiant.Data.Noeud_EtudiantId, childNoeudEtudiant.Data);
                    }

                    else if (parentNoeudEtudiant.Data.Status == 1) // si la parent est bloqué par le prof
                    {
                        if (childNoeudEtudiant.Data.Status == 1) // et quer les enfants sont aussi bloqué par le prof
                        {
                            childNoeudEtudiant.Data.Status = 1; // Bloqué par le prof
                        }
                        else // sinon
                            childNoeudEtudiant.Data.Status = 5; // bloqué par la progression
                    }

                    else if (parentNoeudEtudiant.Data.Status == 5) // si le parent est bloqué par la progression
                    {
                        if (childNoeudEtudiant.Data.Status != 1) // Et que le prof n'a pas bloqué le noeud
                        {
                            childNoeudEtudiant.Data.Status = 5; // les enfants sont bloqué par la progression
                        }
                    }
                    else if (parentNoeudEtudiant.Data.Status == 2) // Si le parent est non  complété
                    {
                        if (childNoeudEtudiant.Data.Status == 1) // Si l'enfant est bloqué par le prof
                        {
                            childNoeudEtudiant.Data.Status = 1; // Bloqué par le prof
                        }
                        else
                        {
                            childNoeudEtudiant.Data.Status = 5; // Bloqué par la progression
                        }
                    }
                    //OUVERTURE DE NOEUD ENFANT

                    else if (parentNoeudEtudiant.Data.Status == 4 && childNoeudEtudiant.Data.Status == 4) // si le parent et l'enfant son complétés
                    {
                        childNoeudEtudiant.Data.Status = 4; // l'enfant est complété
                    }

                    else if (parentNoeudEtudiant.Data.Status == 4) // Si le parent est Complété
                    {
                        if (childNoeudEtudiant.Data.Status == 1) // Si l'enfant est bloqué par le prof
                        {
                            childNoeudEtudiant.Data.Status = 1; // reste bloqué
                        }
                        else
                        {
                            childNoeudEtudiant.Data.Status = 2; // si non il est non complété
                        }
                    }

                        await NoeudEtudiantService.Update(childNoeudEtudiant.Data.Noeud_EtudiantId, childNoeudEtudiant.Data); // Update chaque enfants du noeud parents
                    }
                    
                }        
            }
            catch (Exception ex)
            {
                Console.WriteLine($"Erreur : {ex}");
            }
    }
            
             


    /// <summary>
    /// Appeler un changement de status
    /// </summary>
    private async void HandleChangeNoeud()
    {
        await UpdateGraphe(); 
        StateHasChanged();
    }

    private void ResetViewbox()
    {
        viewBoxX = 0;
        viewBoxY = 0;
        viewBoxHeight = 2000;
        viewBoxWidth = 2000;
        zoomIncrement = 100;
        AfficheZoom();
    }

    /// <summary>
    /// Augmenter le zoom
    /// </summary>
    private void AugmenterZoom()
    {
        if (zoomIncrement != 150)
        {
            viewBoxX = viewBoxX + 10;
            viewBoxY = viewBoxY + 10;
            viewBoxWidth = viewBoxWidth - 20;
            viewBoxHeight = viewBoxHeight - 20;
            zoomIncrement = zoomIncrement + 1;
            AfficheZoom();
        }
        else
        {
            viewBoxX = viewBoxY;
            viewBoxHeight = viewBoxWidth;
            AfficheZoom();
        }
    }

    /// <summary>
    /// Reduit le zoom
    /// </summary>
    private void ReduireZoom()
    {
        if (zoomIncrement != 0)
        {
            viewBoxX = viewBoxX - 10;
            viewBoxY = viewBoxY - 10;
            viewBoxWidth = viewBoxWidth + 20;
            viewBoxHeight = viewBoxHeight + 20;
            zoomIncrement = zoomIncrement - 1;
            AfficheZoom();
        }
        else
        {
            viewBoxX = viewBoxY;
            viewBoxHeight = viewBoxWidth;
            AfficheZoom();
        }
    }

    /// <summary>
    /// Zoom scroll molette
    /// </summary>
    /// <param name="mouse"></param>
    public void Zoom(WheelEventArgs mouse)
    {
        if (mouse.ShiftKey) // get le shift key
        {
            // Utilisation de mouse.DeltaY pour vérifier la direction du défilement
            if (mouse.DeltaY < 0)
            {
                // Faire zoom vers le haut
                if (zoomIncrement != 150)
                {
                    viewBoxX = viewBoxX + 10;
                    viewBoxY = viewBoxY + 10;
                    viewBoxWidth = viewBoxWidth - 20;
                    viewBoxHeight = viewBoxHeight - 20;
                    zoomIncrement = zoomIncrement + 1;
                    AfficheZoom();
                }
                else
                {
                    viewBoxX = viewBoxY;
                    viewBoxHeight = viewBoxWidth;
                    AfficheZoom();
                }
            }
            else if (mouse.DeltaY > 0)
            {
                // Faire zoom vers le bas
                if (zoomIncrement != 0)
                {
                    viewBoxX = viewBoxX - 10;
                    viewBoxY = viewBoxY - 10;
                    viewBoxWidth = viewBoxWidth + 20;
                    viewBoxHeight = viewBoxHeight + 20;
                    zoomIncrement = zoomIncrement - 1;
                    AfficheZoom();
                }
                else
                {
                    viewBoxX = viewBoxY;
                    viewBoxHeight = viewBoxWidth;
                    AfficheZoom();
                }
            }
        }
    }

    public string AfficheZoom()
    {
        if (zoomIncrement <= 0)
        {
            // Vous pouvez ajuster la valeur selon vos besoins
            return ("0%");
        }
        if (zoomIncrement >= 150)
        {
            return ("150%");
        }
        else
        {
            return (zoomIncrement + "%");
        }
    }
}
